#fullUserSide {
    -fx-spacing: 0.5em;
    -fx-alignment: center-right;
}

#userSeekerGrid {
    -fx-grid-lines-visible: true;
}

#rememberButton {
    -fx-font-size: 1.3em;
}

.label {
    -fx-pref-width: 2000em;
    -fx-pref-height: 2000em;
    -fx-min-height: 1.3em;
    -fx-font-size: 1.3em;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-text-fill: #404040;
    -fx-background-color: #C4BA62;
    -fx-font-family: sans-serif;
}

.title-label {
    -fx-background-color: khaki;
    -fx-text-fill: cadetblue;
}

.user-data-cell {
    -fx-alignment: center;
    -fx-background-color: #C4BA62;
    -fx-font-size: 1.5em;
    -fx-min-height: 1.3em;
    -fx-min-width: 1em;
    -fx-spacing: 1em;
}

.user-data-updated-cell {
    -fx-background-color: chartreuse;
}

.rankInternationalGrandmaster {
    -fx-text-fill: #F00;
}
.rankGrandmaster {
    -fx-text-fill: #F00;
}
.rankInternationalMaster {
    -fx-text-fill: #FF8C00;
}
.rankMaster {
    -fx-text-fill: #FF8C00;
}
.rankCandidateMaster {
    -fx-text-fill: #A0A;
}
.rankExpert {
    -fx-text-fill: #00F;
}
.rankSpecialist {
    -fx-text-fill: #008000;
}
.rankPupil {
    -fx-text-fill: #008000;
}
.rankNewbie {
    -fx-text-fill: #7f7f7f;
}
.rankNobody {
    -fx-text-fill: #F00;
}